/OmegaInc.MultiPorpose/.vs/OmegaInc.MultiPorpose/v15/.suo
/OmegaInc.MultiPorpose/.vs/OmegaInc.MultiPorpose/v15/Server/sqlite3/db.lock
/OmegaInc.MultiPorpose/.vs/OmegaInc.MultiPorpose/v15/Server/sqlite3/storage.ide
/OmegaInc.MultiPorpose/.vs/OmegaInc.MultiPorpose/v15/Server/sqlite3/storage.ide-shm
/OmegaInc.MultiPorpose/.vs/OmegaInc.MultiPorpose/v15/Server/sqlite3/storage.ide-wal
/OmegaInc.MultiPorpose/.vs/config/applicationhost.config
